<!-- START: tail -->
        </div><!-- div: content -->
        <div id="footer">
            <p>
                v{{version}}:{{took}}<br />
            {% if user.is_admin %}
                <a class="soft-info" title="software info" href="{% url 'soft-info' %}"><img src="/static/favicon.png" alt="-_-" style="width:16px;height:16px"></a>
            {% else %}
                <a class="soft-info" title="tsadm project" target="_blank" href="https://github.com/jctincan/tsadm-webapp"><img src="/static/favicon.png" alt="-_-" style="width:16px;height:16px"></a>
            {% endif %}
                {% include "inc/validator.html" %}
            </p>
        </div>
{% include "inc/regr_tests.html" %}
        </div><!-- div: container -->
        {% include "inc/debug.html" %}
    </body>
</html>
<!-- END: tail -->
